//COLORS
$color-primary-lighter: #7ed56f;
$color-primary: #55c57a;
$color-primary-darker: #28b485;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-secondary-darker: #ff7730;
$color-secondary-lighter: #ffb900;

$color-terciary-lighter: #2998ff;
$color-terciary-darker: #5643fa;

$color-white: #fff;
$color-black: #000;
$color-grey-dark: #777;
$color-grey-dark-2: #333;

//GRID
$grid-width: 95rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 3rem;
$gutter-horizontal: 5rem;
