.feature-box {
  background-color: rgba($color-white, .8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
  transition: transform .3s;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 4rem;

  @include respond(tab-port) {
    width: 50%;
  }

  @include respond(phone) {
    width: 70%;
    padding: 1;
  }
  

  &__icon {
    font-size: 4rem;
    margin-bottom: .5rem;
    background-image: linear-gradient(to right, $color-primary-lighter, $color-primary-darker);
    -webkit-background-clip: text;
    color: transparent;
    
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }

  &__skills {
    width: 70%;
    display: flex;
    margin: 0 auto;

    @include respond(tab-port) {
      justify-content: space-between;
      width: 40%;
    }

    @include respond(phone) {
      padding: 0;
      width: 95%;
    }

    

    &--small {
      width: 50%;
      display: flex;
      margin: 0 auto;
      
      @include respond(tab-port) {
        justify-content: space-between;
        width: 20%;
      }

      @include respond(phone) {
        padding: 0;
        width: 95%;
      }
    }
    

    &--small-icon {
      font-size: 2rem;
      background-image: linear-gradient(to right, $color-primary-lighter, $color-primary-darker);
      -webkit-background-clip: text;
      color: transparent;
    }

    &--less {
      
    }
  }

  &__text {
    padding-left: 2rem;
  }

}


