.form {

  @include respond(tab-port) {
    text-align: center;
  }

  &__group {
    @include respond(tab-port) {
        margin: 0 auto;
      }
  }

  &__group:not(:last-child) {
      margin-bottom: .5rem;
  }

  &__input {
      font-size: 1.5rem;
      font-family: inherit;
      color: inherit;
      padding: .7rem 2rem;
      border-radius: 2px;
      background-color: rbga($color-white, .5);
      border: none;
      border-bottom: 3px solid transparent;
      width: 90%;
      display: block;
      transition: all .3s;
        @include respond(tab-port) {
            margin: 0 auto;
        }


      &:focus {
          outline: none;
          box-shadow: 0 1rem 2rem rgba($color-black, .1);
          border-bottom: 3px solid $color-primary;
      }

      &:focus:invalid {
          border-bottom: 3px solid $color-secondary-darker;
      }

      &::-webkit-input-placeholder {
          color: $color-grey-dark-2;
      }
  }

  &__textarea {
      font-size: 1.5rem;
      font-family: inherit;
      color: inherit;
      padding: 1.5rem 2rem;
      border-radius: 2px;
      background-color: rbga($color-white, .5);
      border: none;
      border-bottom: 3px solid transparent;
      width: 90%;
      display: block;
      transition: all .3s;
      margin-bottom: 3rem;
        @include respond(tab-port) {
            margin: 0 auto;
            margin-bottom: 4rem;
        }

      &:focus {
          outline: none;
          box-shadow: 0 1rem 2rem rgba($color-black, .1);
          border-bottom: 3px solid $color-primary;
      }

      &:focus:invalid {
          border-bottom: 3px solid $color-secondary-darker;
      }

      &::-webkit-input-placeholder {
          color: $color-grey-dark-2;
      }
  }


  &__label {
      font-size: 1.2rem;
      font-weight: 700;
      margin-left: 2rem;
      margin-top: .7rem;
      display: block;
      transition: all .3s;
  }

  &__input:placeholder-shown + &__label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-4rem);
  }

}