.story {
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color: rgba($color-white, .6);
  border-radius: 3px;
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  transition: transform .3s;

  @include respond (tab-port) {
    width: 50%;
    margin: 0 auto;
  }

  &__icon {
    font-size: 4rem;
    margin-bottom: .5rem;
    background-image: linear-gradient(to right, $color-primary-lighter, $color-primary-darker);
    -webkit-background-clip: text;
    color: transparent;
    
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }

  
}