.button--animated {
  &--rotate {
    margin-left: .8rem; 
  }

  &--rotate i {
    font-size: 15px;
    transition: all 0.4s ease;
    
  }
  &:hover {
    & i {
      transform: rotateZ(90deg);
    }
  }

  &::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
}