body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-secondary {
  display: inline-block;
  font-size: 5rem;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    $color-primary-lighter,
    $color-primary-darker
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;

  @include respond(tab-port) {
    font-size: 4rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: 2.6rem;
  font-weight: 700;
}

.heading-video {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
}

.package-available {
  font-size: 2.6rem;
  font-weight: 700;
  color: $color-grey-dark-2
}

.heading-medium {
  display: inline-block;
  font-size: 4rem;
  font-weight: 600;
  background-image: linear-gradient(
    to right,
    $color-primary-lighter,
    $color-primary-darker
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;

  @include respond(tab-port) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-small {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    $color-primary-lighter,
    $color-primary-darker
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;

  @include respond(tab-port) {
    font-size: 1.5rem;
  }
}

.paragraph {
  font-size: 1.8rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
