.section-about {
  background-color: $color-grey-light-1;
  padding: 22rem 0 22rem 0;
  margin-top: -15vh;
  margin-bottom: -30vh;
}

.section-stripe {
  top: 12vh;
  height: 70vh;
  padding: 20rem 0;
  background-image: linear-gradient(
      rgba($color-black, 0.8),
      rgba($color-black, 0.8)
    ),
    url("../img/computer.jpg");
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  clip-path: polygon(0 1%, 100% 25%, 100% 74%, 0 50%);
}

.section-features {
  height: 60vh;
  padding: 20rem 0;

  background-image: linear-gradient(
      rgba($color-black, 0.8),
      rgba($color-black, 0.8)
    ),
    url("../img/computer.jpg");
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.section-projects {
  background-color: $color-grey-light-1;
  padding: 20rem 0;
  margin-top: -25vh;
}

.section-skills {
  padding: 0 0 15rem 0;
  background-color: $color-grey-light-1;
}

footer {
  background-color: $color-grey-dark-2;
  padding: 10rem 0;
  font-size: 1.4rem;
}


